{% extends "base.html" %}
{% block title %}Home Page{% endblock %}
{% block content %}
<h1> Загадката на Айнщайн </h1> 
<pre>
    
Тя е кръстена на Айнщайн, защото се смята, че само високо интелигентни хора
могат да я решат, без помощ.
1. Има пет къщи, боядисани в различен цвят.
2. Във всяка къщa живее човек с различна националност и гледа различен домашен любимец.
3. Всеки пие различна напитка и кара различна кола.
4. Англичанинът живее в червената къща.
5. Американецът е собственик на рибката.
6. Фанта се пие в зелената къща.
7. Руснакът пие Спрайт.
8. Зелената къща е вдясно на бялата къща.
9. Шофьорът на Мерцедес гледа куче.
10. Нисанът е паркиран пред жълтата къща.
11. Бира се пие в средната къща.
12. Германецът живее в първата къща.
13. Човекът, който кара БМВ живее в къщата до мъжа с костенурката.
14. Нисана е паркиран пред къщата до къщата, където има котка.
15. Шофьора на Опел пие Пепси.
16. Японцът кара Фолцваген.
17. Германецът живее до синята къща.

Кой е собственик на чинчила?  Кой пие Кока Кола?
</pre>

<p>&nbsp;</p>

<table border="1" cellpadding="1" cellspacing="1">
	<tbody>
		<tr>
			<td>
			<p>Къща</p>

			<ul>
				<li>Националност</li>
				<li>Цвят</li>
				<li>Животно</li>
				<li>Кола</li>
				<li>Напитка</li>
			</ul>
			</td>
			<td>
			<p>Къща #1</p>

			<ul>
				<li><select data-dpmaxz-eid="1" data-dpmaxz-pid="61.25.00.l">&nbsp; &nbsp; &nbsp;<option value="-1"></option>&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;<option value="0">Англичанин</option>&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;<option value="1">Американец</option>&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;<option value="2">Германец</option>&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;<option value="3">Руснак</option>&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;<option value="4">Японец</option>&nbsp; &nbsp;&nbsp; &nbsp;</select></li>
				<li><select data-dpmaxz-eid="2" data-dpmaxz-pid="61.25.01.l">&nbsp; &nbsp; &nbsp;<option value="-1"></option>&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;<option value="0">бяла</option>&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;<option value="1">жълта</option>&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;<option value="2">зелена</option>&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;<option value="3">синя</option>&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;<option value="4">червена</option>&nbsp; &nbsp;&nbsp; &nbsp;</select></li>
				<li><select data-dpmaxz-eid="3" data-dpmaxz-pid="61.25.02.l">&nbsp; &nbsp; &nbsp;<option value="-1"></option>&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;<option value="0">костенурка</option>&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;<option value="1">котка</option>&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;<option value="2">куче</option>&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;<option value="3">рибка</option>&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;<option value="4">чинчила</option>&nbsp; &nbsp;&nbsp; &nbsp;</select></li>
				<li><select data-dpmaxz-eid="4" data-dpmaxz-pid="61.25.03.l">&nbsp; &nbsp; &nbsp;<option value="-1"></option>&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;<option value="0">БМВ</option>&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;<option value="1">Мерцедес</option>&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;<option value="2">Нисан</option>&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;<option value="3">Опел</option>&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;<option value="4">Фолцваген</option>&nbsp; &nbsp;&nbsp; &nbsp;</select></li>
				<li><select data-dpmaxz-eid="5" data-dpmaxz-pid="61.25.04.l"> &nbsp;<option value="-1"></option>&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;<option value="0">Бира</option>&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;<option value="1">Кока Кола</option>&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;<option value="2">Спрайт</option>&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;<option value="3">Пепси</option>&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;<option value="4">Фанта</option>&nbsp; &nbsp;&nbsp; &nbsp;</select></li>
			</ul>
			</td>
			<td>
			<p>Къща #2</p>

			<ul>
				<li><select data-dpmaxz-eid="6" data-dpmaxz-pid="61.25.05.l">&nbsp; &nbsp; &nbsp;<option value="-1"></option>&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;<option value="0">Англичанин</option>&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;<option value="1">Американец</option>&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;<option value="2">Германец</option>&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;<option value="3">Руснак</option>&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;<option value="4">Японец</option>&nbsp; &nbsp;&nbsp; &nbsp;</select></li>
				<li><select data-dpmaxz-eid="7" data-dpmaxz-pid="61.25.06.l">&nbsp; &nbsp; &nbsp;<option value="-1"></option>&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;<option value="0">бяла</option>&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;<option value="1">жълта</option>&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;<option value="2">зелена</option>&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;<option value="3">синя</option>&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;<option value="4">червена</option>&nbsp; &nbsp;&nbsp; &nbsp;</select></li>
				<li><select data-dpmaxz-eid="8" data-dpmaxz-pid="61.25.07.l">&nbsp; &nbsp; &nbsp;<option value="-1"></option>&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;<option value="0">костенурка</option>&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;<option value="1">котка</option>&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;<option value="2">куче</option>&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;<option value="3">рибка</option>&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;<option value="4">чинчила</option>&nbsp; &nbsp;&nbsp; &nbsp;</select></li>
				<li><select data-dpmaxz-eid="9" data-dpmaxz-pid="61.25.08.l">&nbsp; &nbsp; &nbsp;<option value="-1"></option>&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;<option value="0">БМВ</option>&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;<option value="1">Мерцедес</option>&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;<option value="2">Нисан</option>&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;<option value="3">Опел</option>&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;<option value="4">Фолцваген</option>&nbsp; &nbsp;&nbsp; &nbsp;</select></li>
				<li><select data-dpmaxz-eid="10" data-dpmaxz-pid="61.25.09.l"> &nbsp;<option value="-1"></option>&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;<option value="0">Бира</option>&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;<option value="1">Кока Кола</option>&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;<option value="2">Спрайт</option>&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;<option value="3">Пепси</option>&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;<option value="4">Фанта</option>&nbsp; &nbsp;&nbsp; &nbsp;</select></li>
			</ul>
			</td>
			<td>
			<p>Къща #3</p>

			<ul>
				<li><select data-dpmaxz-eid="11" data-dpmaxz-pid="61.25.10.l">&nbsp; &nbsp; &nbsp;<option value="-1"></option>&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;<option value="0">Англичанин</option>&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;<option value="1">Американец</option>&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;<option value="2">Германец</option>&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;<option value="3">Руснак</option>&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;<option value="4">Японец</option>&nbsp; &nbsp;&nbsp; &nbsp;</select></li>
				<li><select data-dpmaxz-eid="12" data-dpmaxz-pid="61.25.11.l">&nbsp; &nbsp; &nbsp;<option value="-1"></option>&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;<option value="0">бяла</option>&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;<option value="1">жълта</option>&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;<option value="2">зелена</option>&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;<option value="3">синя</option>&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;<option value="4">червена</option>&nbsp; &nbsp;&nbsp; &nbsp;</select></li>
				<li><select data-dpmaxz-eid="13" data-dpmaxz-pid="61.25.12.l">&nbsp; &nbsp; &nbsp;<option value="-1"></option>&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;<option value="0">костенурка</option>&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;<option value="1">котка</option>&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;<option value="2">куче</option>&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;<option value="3">рибка</option>&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;<option value="4">чинчила</option>&nbsp; &nbsp;&nbsp; &nbsp;</select></li>
				<li><select data-dpmaxz-eid="14" data-dpmaxz-pid="61.25.13.l">&nbsp; &nbsp; &nbsp;<option value="-1"></option>&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;<option value="0">БМВ</option>&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;<option value="1">Мерцедес</option>&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;<option value="2">Нисан</option>&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;<option value="3">Опел</option>&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;<option value="4">Фолцваген</option>&nbsp; &nbsp;&nbsp; &nbsp;</select></li>
				<li><select data-dpmaxz-eid="15" data-dpmaxz-pid="61.25.14.l"> &nbsp;<option value="-1"></option>&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;<option value="0">Бира</option>&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;<option value="1">Кока Кола</option>&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;<option value="2">Спрайт</option>&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;<option value="3">Пепси</option>&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;<option value="4">Фанта</option>&nbsp; &nbsp;&nbsp; &nbsp;</select></li>
			</ul>
			</td>
			<td>
			<p>Къща #4</p>

			<ul>
				<li><select data-dpmaxz-eid="16" data-dpmaxz-pid="61.25.15.l">&nbsp; &nbsp; &nbsp;<option value="-1"></option>&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;<option value="0">Англичанин</option>&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;<option value="1">Американец</option>&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;<option value="2">Германец</option>&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;<option value="3">Руснак</option>&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;<option value="4">Японец</option>&nbsp; &nbsp;&nbsp; &nbsp;</select></li>
				<li><select data-dpmaxz-eid="17" data-dpmaxz-pid="61.25.16.l">&nbsp; &nbsp; &nbsp;<option value="-1"></option>&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;<option value="0">бяла</option>&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;<option value="1">жълта</option>&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;<option value="2">зелена</option>&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;<option value="3">синя</option>&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;<option value="4">червена</option>&nbsp; &nbsp;&nbsp; &nbsp;</select></li>
				<li><select data-dpmaxz-eid="18" data-dpmaxz-pid="61.25.17.l">&nbsp; &nbsp; &nbsp;<option value="-1"></option>&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;<option value="0">костенурка</option>&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;<option value="1">котка</option>&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;<option value="2">куче</option>&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;<option value="3">рибка</option>&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;<option value="4">чинчила</option>&nbsp; &nbsp;&nbsp; &nbsp;</select></li>
				<li><select data-dpmaxz-eid="19" data-dpmaxz-pid="61.25.18.l">&nbsp; &nbsp; &nbsp;<option value="-1"></option>&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;<option value="0">БМВ</option>&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;<option value="1">Мерцедес</option>&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;<option value="2">Нисан</option>&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;<option value="3">Опел</option>&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;<option value="4">Фолцваген</option>&nbsp; &nbsp;&nbsp; &nbsp;</select></li>
				<li><select data-dpmaxz-eid="20" data-dpmaxz-pid="61.25.19.l"> &nbsp;<option value="-1"></option>&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;<option value="0">Бира</option>&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;<option value="1">Кока Кола</option>&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;<option value="2">Спрайт</option>&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;<option value="3">Пепси</option>&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;<option value="4">Фанта</option>&nbsp; &nbsp;&nbsp; &nbsp;</select></li>
			</ul>
			</td>
			<td>
			<p>Къща #5</p>

			<ul>
				<li><select data-dpmaxz-eid="21" data-dpmaxz-pid="61.25.20.l">&nbsp; &nbsp; &nbsp;<option value="-1"></option>&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;<option value="0">Англичанин</option>&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;<option value="1">Американец</option>&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;<option value="2">Германец</option>&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;<option value="3">Руснак</option>&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;<option value="4">Японец</option>&nbsp; &nbsp;&nbsp; &nbsp;</select></li>
				<li><select data-dpmaxz-eid="22" data-dpmaxz-pid="61.25.21.l">&nbsp; &nbsp; &nbsp;<option value="-1"></option>&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;<option value="0">бяла</option>&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;<option value="1">жълта</option>&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;<option value="2">зелена</option>&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;<option value="3">синя</option>&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;<option value="4">червена</option>&nbsp; &nbsp;&nbsp; &nbsp;</select></li>
				<li><select data-dpmaxz-eid="23" data-dpmaxz-pid="61.25.22.l">&nbsp; &nbsp; &nbsp;<option value="-1"></option>&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;<option value="0">костенурка</option>&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;<option value="1">котка</option>&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;<option value="2">куче</option>&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;<option value="3">рибка</option>&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;<option value="4">чинчила</option>&nbsp; &nbsp;&nbsp; &nbsp;</select></li>
				<li><select data-dpmaxz-eid="24" data-dpmaxz-pid="61.25.23.l">&nbsp; &nbsp; &nbsp;<option value="-1"></option>&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;<option value="0">БМВ</option>&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;<option value="1">Мерцедес</option>&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;<option value="2">Нисан</option>&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;<option value="3">Опел</option>&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;<option value="4">Фолцваген</option>&nbsp; &nbsp;&nbsp; &nbsp;</select></li>
				<li><select data-dpmaxz-eid="25" data-dpmaxz-pid="61.25.24.l"> &nbsp;<option value="-1"></option>&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;<option value="0">Бира</option>&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;<option value="1">Кока Кола</option>&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;<option value="2">Спрайт</option>&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;<option value="3">Пепси</option>&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;<option value="4">Фанта</option>&nbsp; &nbsp;&nbsp; &nbsp;</select></li>
			</ul>
			</td>
		</tr>
	</tbody>
</table>
</div>
</div>
</div>

<p>&nbsp;</p>

<div class="container">
	<button type="button" class="btn btn-primary" value="Отговор на загадката" onclick="onClick()">Отговор на загадката</button>
</div>

</br>
</br>

<div id="result" class="container">
</div>

<script>
	function onClick() {

		$("#result").load("/exercise_1_result");
	}
</script>

{% endblock%}